body
{
    margin:         0;          /* no margins */
    overflow:       hidden;     /* hide scrollbars */
    color:          black;
    text-align:     center;
}

h1
{
    position:       absolute;    /* better that default of static - more control */
    width:          100%;       /* 100% of parent element (the body here)*/
    z-index:        1;          /* -1 is behind +1 above default "stack order" default is (0) */
                            /* larger Z is drawn last and is thus above smaller Zs" */
    /* font-size:      1.5rem;  MH: Like large font */
}

a
{
    color: darkblue;
}

a:hover
{
    color: darkred;
}


#scene-container
{
    position:       absolute;       /* better that default of static - more control */
    width:          100%;
    height:         100%;
}
canvas {
    display: block;
}


#scorebox
{
    display: flex;
    justify-content: center;
    margin: 10px;
}

#gameover
{
    opacity: 1;
    animation-name: 'fadeIn';
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

@keyframes fadeIn
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#centered
{
    position: absolute;
    width: 75%;
    height: 50%;
    top: 25%;
    left: 50%;
    right: 50%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px; 
    font-size: 100%;
    /* animation-name: 'fontGrow';
    animation-iteration-count: 1;
    animation-duration: 5s;
    animation-timing-function: ease; */
}


#centered-good
{
    position: absolute;
    width: 75%;
    height: 50%;
    top: 25%;
    left: 40%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px; 
    font-size: 100%;
}

@keyframes fontGrow
{
    0% {
        font-size: 200%;
    }
    100% {
        font-size: 300%;
    }
}